<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
	<servlet>
		<servlet-name>PersonServlet</servlet-name>
		<servlet-class>web.PersonViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonServlet</servlet-name>
		<url-pattern>/PersonServlet1.do</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>
	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:~/test</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>db.tcpServer</param-name>
		<param-value>-tcpAllowOthers</param-value>
	</context-param>
</web-app>